@import '../../styles/vars.scss';
.spinner {
  width: 50px;
  height: 50px;
  background-color: $blueColor900;
  margin: $gutter auto;
  animation: rotateplane 1.5s infinite ease-in-out;
}
p{
  font-family: $fontSiteTitle;
      color: $blueColor900;
      font-weight: bold;
      font-size: $gutter*3;
      padding: $gutter*2;
      margin-bottom: 0;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}