/*
    backgroung color
*/
$blueColor50: #E1F5FE;
$blueColor100: #b3e5fc;
$blueColor200: #81d4fa;
$blueColor300: #4fc3f7;
$blueColor400: #29b6f6;
$blueColor500: #03a9f4;
$blueColor600: #039be5;
$blueColor700: #0288d1;
$blueColor800: #0277bd;
$blueColor900: #01579B;

$successColorLight: #b7f8d8;
$successColorDark: #00a851;
$errorColorDark:#b00020;
$errorColorLight:#EF9A9A;
/*
    font color
*/
$blueFontColor100:#80d8ff;
$blueFontColor200:#40c4ff;
$blueFontColor400:#00b0ff;
$blueFontColor700:#0091ea;

/*
    goutière
*/
$gutter:0.5em;

/*
    font
*/
$fontSiteTitle: 'Special Elite', sans-serif;
$fontPage:'Bangers', cursive;
$fontPseudo:'Gidugu', sans-serif;