$blueColor50: #E1F5FE;
$blueColor100: #b3e5fc;
$blueColor200: #81d4fa;
$blueColor300: #4fc3f7;
$blueColor400: #29b6f6;
$blueColor500: #03a9f4;
$blueColor600: #039be5;
$blueColor700: #0288d1;
$blueColor800: #0277bd;
$blueColor900: #01579B;

$blueFontColor100:#80d8ff;
$blueFontColor200:#40c4ff;
$blueFontColor400:#00b0ff;
$blueFontColor700:#0091ea;

$gutter:0.5em;

$fontSiteTitle: 'Special Elite', sans-serif;