@import '../../styles/vars.scss';


.search{
  background-color: $blueColor100;
  height: 100vh;
  &-criteria{
    border: 1px solid $blueColor900;
    background-color: $blueColor50;
    margin: $gutter*2;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
    &-label{
      padding: $gutter*2;
      padding-bottom:0;
      font-family: $fontSiteTitle;
      font-size: $gutter*3;
      color: $blueColor900;
    }
    &-select{
      margin: $gutter*2;
      &-select{
        padding: $gutter*1;
        font-family: $fontSiteTitle;
        font-size: $gutter*2;
        color: $blueColor50;
        border-radius:20px;
        background-color: $blueColor900;
        font-weight: bold;
        
      }
    }
    
  }
  &-results{
    &-number{
      font-family: $fontSiteTitle;
      color: $blueColor900;
      font-weight: bold;
      font-size: $gutter*3;
      
    }

  }
  &-search{
    &-title{
      border: 1px solid $blueColor900;
      background-color: $blueColor50;
      margin: $gutter*2;
      border-radius:20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      
      &-buttons{
        display: flex;
        flex-direction: column;
      }
    }
  }
  
}
.button{
  &-all{
    padding: $gutter*1;
    font-family: $fontSiteTitle;
    font-size: $gutter*2;
    color: $blueColor200;
    border-radius:20px;
    background-color: $blueColor900;
    font-weight: bold;
    margin: $gutter*2;
    transition: background-color 2s, color 2s;
    
    &:hover{
      color: $blueColor900;
      background-color: $blueColor200;
    }
  }
  
  &-previous{
    padding: $gutter*1;
    font-family: $fontSiteTitle;
    font-size: $gutter*2;
    color: $blueColor900;
    border-radius:20px;
    background-color: $blueColor200;
    font-weight: bold;
    margin: $gutter*2;
    transition: background-color 2s, color 2s;
    &:hover{
      color: $blueColor200;
      background-color: $blueColor900;
    }

  }
}



.option{
  border: 1px solid $blueColor900;
  background-color: $blueColor50;
  margin: $gutter*2;
  border-radius:20px;
  
  
  &-form{
    display: flex;
    text-align: center;
  justify-content: space-evenly;
    &-criterias{
      background-color: $blueColor200;
      margin: $gutter*2;
      border-radius:20px;
      display: flex;
      flex-direction: column;
      h3{
        padding: $gutter*2;
        font-family: $fontSiteTitle;
        font-size: $gutter*3;
        color: $blueColor900;
        
      }
      &-criteria{
        padding:$gutter*1;
        padding-left: $gutter*2;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        input{
          padding: $gutter*1;
          height:$gutter*2;
          width:$gutter*2;
          
        }
        label{
          margin: 0 $gutter*1;
        }
        select{
          font-size: $gutter*2;
          color: $blueColor200;
          border-radius:20px;
          background-color: $blueColor900;
          font-weight: bold;
          padding:$gutter*0.5; 
        }
      }
      
      
    }
    &-scope-button{
      
      background-color: $blueColor200;
      margin: $gutter*2;
      border-radius:20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &-scope{
        
        display: flex;
        justify-content: space-between;
        padding: $gutter*3;
        align-items: baseline;
        &-text{
          padding: 0 $gutter*3;
          margin: 0 $gutter*2 ;
          font-weight: bold;
        }
      }
      &-button{

      }
    }
  }
  
}
.choose{
  font-size: $gutter*2;
  color: $blueColor900;
  border-radius:20px;
  border: $blueColor900 solid 2px;
  font-weight: bold;
  padding:$gutter;
  font-style: italic; 

}
.notChoose{
  color: $blueColor900;
}

